@import "../../../GeneralTheme.scss";
.user-profile-pic {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.post-image {
    background-color: #333;
    width: 70%;
    height: 70%;
    // border-radius: 50%;
    object-fit: cover;
}

.image-upload-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-btn {
    cursor: pointer;
    color: #fff;
    background-color: $third;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.upload-btn:hover {
    background-color: darken($third, 15%);
}

.progress-bar {
    padding: 7%;
}

@media screen and (max-width: 768px) {
    .upload-btn {
        margin-top: 10px;
        font-size: 14px;
        padding: 8px 16px;
    }

    .progress-bar {
        margin-top: 10px;
        padding: 5%;
    }

    .post-image {
        width: 100px;
        height: 100px;
    }
}
