// Old Theme

// $first: #0d2705;
// $second: #d8ead8;
// $third: #4caf50;
// $forth: #f0f5f5;
// $fifth: #ccc;


// $font-color1: black;
// $font-color2: rgb(41, 41, 41);

// New Theme

$first: #00004d;
// $first: #00215E;
$second: #e3edfa;
$third: #1677ff;
$forth: #f0f5f5;
$fifth: #ccc;

$font-color1: black;
$font-color2: rgb(41, 41, 41);