@import "../GeneralTheme.scss";

.searched-results {
    display: flex;
    flex-direction: column; // Change to flex column to manage children linearly
    align-items: center; // Center children horizontally
    padding: 2%;
    width: 96%;
    margin: auto;
}

.search-results-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    width: 100%; // Ensure it takes the full width of its container
}

.pagination-container {
    display: flex;
    justify-content: center; // Center horizontally
    width: 100%; // Take full width to maintain centering context
    margin-top: 20px; // Space from the last grid item
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    padding: 8px 16px;
    border: 1px solid $first;
    background-color: $forth;
    color: #333;
    cursor: pointer;

    &:hover {
        background-color: #cacaca;
        transition: background-color 0.3s ease;
    }

    &.active {
        background-color: $first;
        color: #fff;
    }
}
